services:
  mysql:
    image: mysql:8.0
    restart: unless-stopped

    env_file:
      - .env
    volumes:
      - mydata:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${TODO_PASSWORD:-defaultvalue}
    networks:
      - todo-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$TODO_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5

  todo-app:
    build: .
    restart: unless-stopped
    ports:
      - 8080:8080
    env_file:
      - .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/todo_db?createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: ${TODO_PASSWORD:-defaultvalue}
      SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.MySQLDialect

    depends_on:
      mysql:
        condition: service_healthy

    networks:
      - todo-network

networks:
  todo-network:
    driver: bridge

volumes:
  mydata:
    driver:
      local
